@font-face {
    font-family: Helvetica;
    src: url("../Fonts/Helvetica.ttf");
}
body{
    font-family: Helvetica;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
h1, h2{
    color: #EDF2F4;
}