a {
    background-image: url("Images/social-thumbnail-en-ddcf4d23.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;

    font-size: 5em;
    padding-left: 100px;
}
